@{
    ViewBag.Title = "Member signup";
}

@using BootstrapSupport
@model Object
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>Member signup</legend>
        @foreach (var property in Model.VisibleProperties())
        {
            @Html.BeginControlGroupFor(property.Name)
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                <div class="controls">
                    @Html.Editor(property.Name, new { @class = "input-xlarge" })
                    @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
		        </div>
            @Html.EndControlGroup()
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Create user!</button>
            @Html.ActionLink("Naah, take me back",  "Index", null, new {@class = "btn "})
          </div>
    </fieldset>
}
